extends layout
block content
  .container-fluid
    .row
      .col-xs-12
        h2 Showing All Devices
  #map-container
    #map

  - var mapsUrl = "https://maps.googleapis.com/maps/api/js?callback=initMap&key=" + process.env.GOOGLE_MAPS_CLIENT_API_KEY;
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="/javascripts/map.js")
  script(src=mapsUrl)
